<!DOCTYPE html>
<html>
<head>
    <title> Secure Access App </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="/">Secure Access App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% if(currentUser) {%> 
                <% if(currentUser.role == 'Admin') {%> 
                <li class="nav-item">
                    <a class="nav-link" href="/door/show">Show All Access Point</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/show">Show All Users</a>
                </li>
            <%} } %> 
        </ul>
        <ul class="navbar-nav navbar-right">
            <% if(!currentUser){ %>
                <li class="nav-item" >
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign Up</a>
                </li>
            <% } else{ %>
                <li class="nav-item" >
                    <a class="nav-link" href="#">Signed In As <%= currentUser.username %></a>
                </li>
                <li>
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>
<div class="container">
    <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert"> <%= error %></div>
    <% }else if (success && success.length > 0){ %>
        <div class="alert alert-success" role="alert"> <%= success %></div>
    <% } %>
</div>