<%- include('partials/header.ejs') %>

<header class="container">
    <div class="jumbotron">
        <h1>Welcome To Secure Access App!!!</h1>
        <p>Where All your Access Points Are Secured</p>
        <% if(user){ %>
            <p>
                <a class="btn btn-lg btn-primary" href="/records/show">View Records</a>
            </p>
        <% } %>  
    </div>
</header>

<%- include('partials/footer.ejs') %>
