<%- include('../partials/header.ejs') %> 

<div class="container">
    <a class="nav-link" href="/door/add">
        <button type="button" class="btn btn-outline-success">Add a New Access Point</button>
    </a>
    <table class="table shadow-lg p-3 mb-5 bg-white rounded">
        <thead>
        <tr>
            <th scope="col">Access Point ID</th>
            <th scope="col">Access Point Name</th>
        </tr>
        </thead>
        <tbody>
            <% doors.forEach(door => { %>
                <tr>
                    <td><%= door._id %></td>
                    <td><%= door.doorName %></td>
                </tr> 
            <% }) %> 
    </table>
</div>

<%- include('../partials/footer.ejs') %> 